env/

pur_beurre_django_app/__pycache__/

pur_beurre_django_app/settings/production.py

staticfiles/

pur_beurre_django_app/settings/__pycache__/

account/__pycache__/

account/migrations/__pycache__/

product/__pycache__/

product/migrations/__pycache__/

favorite/__pycache__/

favorite/migrations/__pycache__/

geckodriver.log
