{% extends "product/base.html" %}


{% block title %}Registration{% endblock %}

{% block content %}
<header id="login_register_page" class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div id="signup_side" class="col-lg-5 mx-auto my-auto">
        <h2 >Créer un compte</h2>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}
          <div>
            <button class="btn" type="submit">Créer mon compte</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}