{% extends 'product/base.html' %}

{% load static %}

{% block content %}
<div id="error_404">
<header  class="masthead text-center text-white d-flex">
  <h1 class="mx-auto">Page introuvable</h1>
</header>
<section>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-5 mx-auto my-auto text-center">
        <figure>
          <figcaption><h1>ERROR</h1></figcaption>
          <img src="{% static 'error/img/404.png' %}" width="100%">
        </figure>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}
